html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

@media (max-width: 1200px) {
    .col-md-3 {
      display: none !important;
    }
  }
  
  .sugerencias img {
    object-fit: cover;
  }
  
.suggested-user {
    border-radius: 12px;
    border: 2px solid #dee2e6;
    padding: 10px;
    background-color: #ffffff;
    transition: 0.3s;
  }
  
  .suggested-user:hover {
    background-color: #f8f9fa;
    border-color: #adb5bd;
  }
  
